assets/* linguist-vendored
*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
*.less linguist-detectable=false

# Configure diff output for .php and .phar files.
*.php diff=php